@model IEnumerable<BookViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
 @foreach(var book in Model)
 {
    <div class="row">
        <span class="col-lg-2">@book.Title</span>
        <span class="col-lg-2">@book.Author</span>
        <span class="col-lg-2">@book.Genre</span>
        <span class="col-lg-2">@book.BooksInStore</span>
    </div>
 }
</div>
<div>
    @Html.Kendo()
</div>
