@model UserViewModel

<h2>User details</h2>
<div class="clearfix">
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <th>Middle Name</th>
                    <td>@Model.MiddleName</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Added On</th>
                    <td>@Model.AddOnDate</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <th>Town</th>
                    <td>@Model.Town</td>
                </tr>
                <tr>
                    <th>Books</th>
                    <td>
                        @foreach (var book in Model.UsersBooks)
                        {
                            <p> @book.Book.Title</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
