@model UserViewModel

<h2>@Model.FirstName's library</h2>
<div class="clearfix">
    <div class="col-md-8">
        <h4>My borrowed books:</h4>
        <table class="table table-striped">
            <tbody>

                @if (Model.BorrowBooks.Count() == 0)
                {
                    <tr>
                        <td>There are no borrowed books.</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>
                            Title
                        </th>
                    </tr>
                    @foreach (var userBook in Model.BorrowBooks)
                    {
                        <tr>
                            <td>@userBook.Book.Title - borrowed on @userBook.BorrowDate.ToString("d")</td>
                            <td>
                                <form asp-controller="User" asp-action="ReturnBook" asp-route-bookId="@userBook.Book.Id" method="post">
                                    <button type="submit" class="btn bg-danger">Return book</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <h4>The books I read:</h4>
        <table class="table table-striped">
            <tbody>
                @if (Model.ReadBooks.Count() == 0)
                {
                    <tr>
                        <td>You haven't returned a book yet.</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>
                            Title
                        </th>
                    </tr>
                    @foreach (var userBook in Model.ReadBooks)
                    {
                        <tr>
                            <td>@userBook.Book.Title - back-date @userBook.BackDate.ToString("d")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

