@model BookViewModel

<table class="table table-striped">
    <tr>
        <th><img src="~/images/Books/@(Model.ImageUrl ?? "Default_image.png")" alt="Book Cover" class="img-responsive" /></th>
        <th>@Model.Title</th>
        <th>@Model.Author</th>
        <th>@Model.Genre</th>
        <th>
            <div>
                <a class="btn btn-info" asp-controller="Books" asp-action="Details" asp-route-title="@Model.Title">
                    details
                </a>
            </div>
        </th>
        <th valign="middle">
            @if (Model.BooksInStore > 0)
            {
                <a class="btn btn-success" asp-controller="Books" asp-action="AddBook" asp-route-title="@Model.Title">
                    Available
                </a>
            }
            else
            {
                <div style="font-size: smaller">

                    <p>Not available</p>
                    <p>in this moment</p>
                </div>
            }
        </th>
    </tr>
</table>