@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Active Users</h2>
<div>
    <a asp-area="administration" asp-controller="Users" asp-action="AllUsers"
       class="btn btn-info btn-sm active" role="button">All Users</a>
</div>
<div class="clearfix">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>View Details</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Add Book</th>
                <th>Remove Book</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
               <td>@(user.FirstName + " " + user.LastName)</td>
               <td> <a asp-area="administration" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id"
                   class="btn btn-sm btn-lg active" role="button">Details</a>
                </td>
                <td>
                    <a asp-area="administration" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id"
                       class="btn btn-sm btn-lg active" role="button">Edit</a>
                </td>
                <td>
                    <a asp-area="administration" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id"
                       class="btn btn-sm btn-lg active" role="button">Delete</a>
                </td>
                <td>
                    <a asp-area="administration" asp-controller="Users" asp-action="AddBook" asp-route-id="@user.Id"
                       class="btn btn-sm btn-lg active" role="button">Add Book</a>
                </td>
                <td>
                    <a asp-area="administration" asp-controller="Users" asp-action="RemoveBook" asp-route-id="@user.Id"
                       class="btn btn-sm btn-lg active" role="button">Remove Book</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<h2>Available Books</h2>
<div>
    <div class="clearfix">
        <div class="col-md-4">
        <a asp-area="" asp-controller="Books" asp-action="Index"
           class="btn btn-block btn-lg active" role="button">Books</a>
    </div>
    </div>
</div>