@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>
<div class="clearfix">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Add Book</th>
                    <th>View Details</th>
                    <th>Edit</th>
                    <th>Make Admin</th>
                    <th>Delete</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                <tr>
                    <td>@(user.FirstName + " " + user.LastName)</td>
                    <td><button class="btn btn-sm btn-lg active" role="button">Add Book</button></td>
                    <td>
                        <a asp-area="administration" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id"
                           class="btn btn-sm btn-lg active" role="button">Details</a>
                    </td>
                    <td><button class="btn btn-sm btn-lg active" role="button">Edit</button></td>
                    <td><button class="btn btn-sm btn-lg active" role="button">Make Admin</button></td>
                    <td><button class="btn btn-sm btn-lg active" role="button">Delete</button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>

@*<div>       
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">First</th>
                <th class="col-md-2">Middle</th>
                <th class="col-md-3">Last</th>
                <th class="col-md-5">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.MiddleName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
            </tr>
            }            
        </tbody>
    </table>
</div>*@


